.hero__title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
}
.footer__title, .main__content__title--2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1;
}
.main__content__title--1 {
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  line-height: 1.1;
}
.footer__text, .main__content__text, .hero__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.component__number--circle, .btn {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
}

.btn {
  color: #fafafa;
  padding: 1rem 2.5rem;
  border-radius: 1.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.btn--cyan, .btn--cyan:link {
  width: 12.0625rem;
  height: 3.5rem;
  background-color: #4d96a9;
  transition: all 0.2s;
}
.btn--cyan:hover, .btn--cyan:active, .btn--cyan:focus {
  background-color: #71c0d4;
  transform: scale(1.02);
}
.btn--cyan span {
  color: #8fe3f9;
}
.btn--purple, .btn--purple:link {
  width: 10.0625rem;
  height: 3.5rem;
  background-color: #855fb1;
}
.btn--purple:hover, .btn--purple:active, .btn--purple:focus {
  background-color: #b18bdd;
  transform: scale(1.02);
}
.btn--purple span {
  color: #d9b8ff;
}

.component__number {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component__number--line {
  width: 1px;
  height: 80px;
  background-color: #d1d1df;
}
.component__number--circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #87879d;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #d1d1df;
  border-radius: 50%;
  background-color: #fafafa;
  z-index: 1;
}

.header {
  padding-top: 3rem;
  /* Extra large devices 1440px:90em*/
}
@media (min-width: 90em) {
  .header {
    padding-top: 5rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hero {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  /* Extra large devices 1440px:90em*/
  /* Extra large devices 1440px:90em*/
}
@media (min-width: 48em) {
  .hero {
    margin-bottom: 4rem;
    gap: 4.5rem;
  }
}
@media (min-width: 90em) {
  .hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    align-items: center;
    margin-bottom: 4rem;
  }
}
.hero__img-mobile {
  background-image: url("../../assets/tablet/image-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: clamp(10rem, 40vw, 18.9375rem);
  max-width: 51.25rem;
  width: 100vw;
  /* Extra large devices 1440px:90em*/
}
@media (min-width: 90em) {
  .hero__img-mobile {
    display: none;
  }
}
@media (min-width: 90em) {
  .hero__img-desktop--left, .hero__img-desktop--right {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18.9375rem;
  }
}
@media (min-width: 90em) {
  .hero__img-desktop--left {
    background-image: url("../../assets/desktop/hero-left.png");
    background-position: left;
    align-self: flex-start;
    margin-left: -25px;
  }
}
@media (min-width: 90em) {
  .hero__img-desktop--right {
    background-image: url("../../assets/desktop/hero-right.png");
    background-position: right;
    align-self: flex-end;
    margin-right: -25px;
  }
}
.hero__texts__btns__container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  /* Extra large devices 1440px:90em*/
}
@media (min-width: 48em) {
  .hero__texts__btns__container {
    padding: 0 11.25rem;
  }
}
@media (min-width: 90em) {
  .hero__texts__btns__container {
    padding: 1.4375rem 0;
    gap: 2rem;
  }
}
.hero__title {
  color: #28283d;
  /* Extra large devices 1440px:90em*/
}
@media (min-width: 48em) {
  .hero__title {
    font-size: 3rem;
  }
}
@media (min-width: 90em) {
  .hero__title {
    font-size: 4rem;
  }
}
.hero__text {
  color: #87879d;
  /* Extra large devices 1440px:90em*/
}
@media (min-width: 90em) {
  .hero__text {
    font-size: 1.125rem;
  }
}

.btns__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 48em) {
  .btns__container {
    display: flex;
    flex-direction: row;
    gap: 1.0625rem;
  }
}

.main__content {
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 48em) {
  .main__content {
    padding-top: 3.5rem;
  }
}
.main__content__imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 48em) {
  .main__content__imgs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
  }
}
.main__content__imgs--1, .main__content__imgs--2, .main__content__imgs--3, .main__content__imgs--4 {
  border-radius: 0.5rem;
}
.main__content__texts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
@media (min-width: 48em) {
  .main__content__texts__container {
    padding: 0 6.25rem;
  }
}
.main__content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main__content__title--1 {
  text-transform: uppercase;
  color: #4d96a9;
}
@media (min-width: 48em) {
  .main__content__title--1 {
    font-size: 0.875rem;
  }
}
.main__content__title--2 {
  color: #28283d;
}
@media (min-width: 48em) {
  .main__content__title--2 {
    font-size: 2.25rem;
  }
}
.main__content__text {
  color: #87879d;
}

/* FOOTER -CTA SECTION */
.footer_text__btn__container {
  background-image: linear-gradient(to right bottom, rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)), url("../../assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: top;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  transform: translateY(-28px);
}
@media (min-width: 48em) {
  .footer_text__btn__container {
    background-image: linear-gradient(to right bottom, rgba(77, 150, 169, 0.8), rgba(77, 150, 169, 0.8)), url("../../assets/tablet/image-footer.jpg");
    padding: 4rem 8.125rem;
  }
}
.footer__title {
  color: #fafafa;
}
@media (min-width: 48em) {
  .footer__title {
    font-size: 2.25rem;
  }
}
.footer__text {
  color: #fafafa;
}

/* CSS RESET---------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Red Hat Display", Arial, sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  padding: 0 auto;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: #855fb1;
}

/*# sourceMappingURL=style.css.map */
