/* FOOTER -CTA SECTION */
.footer {
  width: 100%;
  &__text__btn__container {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-cyan-600, 0.8),
        rgba($color-cyan-600, 0.8)
      ),
      url("../../assets/mobile/image-footer.jpg");
    background-size: cover;
    background-position: top;

    padding: px-to-rem(64px) px-to-rem(32px);

    @include flex-column;
    gap: px-to-rem(24px);
    text-align: center;

    transform: translateY(-28px);

    // Tablet (768px :48em )
    @media (min-width: 48em) {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-cyan-600, 0.8),
          rgba($color-cyan-600, 0.8)
        ),
        url("../../assets/tablet/image-footer.jpg");

      padding: px-to-rem(64px) px-to-rem(130px);
    }

    /* Extra large devices 1440px:90em*/
    @media (min-width: 90em) {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-cyan-600, 0.8),
          rgba($color-cyan-600, 0.8)
        ),
        url("../../assets/desktop/image-footer.jpg");
      padding: px-to-rem(112px) px-to-rem(160px);

      @include grid-footer;

      max-width: px-to-rem(2506px);
    }
  }

  &__title {
    @extend %text-preset-2--mobile;
    color: $color-white;

    // Tablet (768px :48em )
    @media (min-width: 48em) {
      font-size: px-to-rem(36px);
    }

    /* Extra large devices 1440px:90em*/
    @media (min-width: 90em) {
      font-size: px-to-rem(40px);
    }
  }

  &__text {
    @extend %text-preset-4--tablet;
    color: $color-white;

    /* Extra large devices 1440px:90em*/
    @media (min-width: 90em) {
      font-size: px-to-rem(18px);
    }
  }
}

.end-position {
  @media (min-width: 90em) {
    justify-self: flex-end;
  }
}
