.btn {
  @extend %text-preset-5--desktop;
  color: $color-white;

  padding: px-to-rem(16px) px-to-rem(40px);
  border-radius: px-to-rem(29px);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;

  &--cyan {
    &,
    &:link {
      width: px-to-rem(193px);
      height: px-to-rem(56px);
      background-color: $color-cyan-600;

      transition: all 0.2s;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-cyan-hover;
      transform: scale(1.02);
    }
  }

  &--cyan span {
    color: $color-cyan-300;
  }

  &--purple {
    &,
    &:link {
      width: px-to-rem(161px);
      height: px-to-rem(56px);
      background-color: $color-purple-600;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-purple-hover;
      transform: scale(1.02);
    }
  }

  &--purple span {
    color: $color-purple-300;
  }
}
