// NUMBER COMPONENT
.component__number {
  @include flex-column;

  &--line {
    width: 1px;
    height: 80px;
    background-color: $color-slate-300;
  }

  &--circle {
    @include flex-column;
    justify-content: center;

    @extend %text-preset-5--desktop;
    color: $color-slate-600;

    width: px-to-rem(56px);
    height: px-to-rem(56px);
    border: 1px solid $color-slate-300;
    border-radius: 50%;
    background-color: $color-white;

    z-index: 1;
  }
}
